{% layout "layout.liquid" %} {% block content %}

<h1>Welcome to the Thunderdome</h1>
<div class="container-md">
  <h4>Where should we start?</h4>
  <a href="/foodDiary/new" class="btn btn-info">add a day</a>

  <a href="/food/new" class="btn btn-info">add a food</a>
  <!-- <form action="/food/new" method="POST">
        <input type="submit" value="Create New Food" class="btn btn-success" />
    </form> -->
</div>
{% endblock %}
