{% layout 'layout.liquid' %} {% block content %}
<div class="container-md">
  <legend>My Macros</legend>
    <article>
      <p> Protein: {{ clientProtein }} (g)</p>
      <p> Fats: {{ clientFats }}(g)</p>
      <p> Carbs: {{ clientCarbs }}(g)</p>
    
        </form>
      </div>
    </article>
  
  </article>
</div>
{% endblock %}
