{% layout 'layout.liquid' %} {% block content %}
<div class="container-sm">
  <form action="/client" method="POST">
    <fieldset>
      <legend>Create New Bio</legend>
      <label class="form-label">Age: </label>
      <input
        type="number"
        name="ageEntered"
        placeholder="number in years"
        class="form-control"
      />
      <label class="form-label">Weight:</label>
      <input
        type="number"
        name="weightEntered"
        placeholder="weight in kg"
        class="form-control"
      />
      <label class="form-label">Height:</label>
      <input
        type="number"
        name="heightEntered"
        placeholder="height in cm"
        class="form-control"
      />

      <!-- <label class="form-label">Ready:</label>
            <input 
                type="checkbox" 
                name="ready" 
                class="form-check-input"
            > -->
    </fieldset>
    <input type="submit" value="Set My Bio" class="btn btn-success" />
  </form>
</div>
{% endblock %}
