{% layout 'layout.liquid' %} {% block content %}
<div class="container-md">
  <legend>Bio info</legend>
    <article>
      <p> Protein: {{ client.protein }} </p>
      <p> Fats: {{ client.protein }}(g)</p>
      <p> Carbs: {{ client.fats }}(g)</p>
      {% if client.owner == userId %}
   
    {% endif %}
        </form>
      </div>
    </article>
  
  </article>
</div>
{% endblock %}