{% layout 'layout.liquid' %} {% block content %}
<div class="container-sm">
  <form action="/food/{{ food.id }}?_method=PUT" method="POST">
    <fieldset>
      <legend>Edit Food</legend>
      <label class="form-label">Amount: </label>
      <input
        type="text"
        name="amount"
        placeholder="weight in grams"
        class="form-control"
      />
    </fieldset>
    <input type="submit" class="btn btn-success" value="Edit" />
  </form>
</div>
{% endblock %}
