{% layout 'layout.liquid' %} {% block content %}
<div class="container-sm">
  <form action="/food" method="POST">
    <fieldset>
      <legend>Create New Food</legend>
      <label class="form-label">Food: </label>
      <input
        type="text"
        name="foodSearch"
        placeholder="enter food name"
        class="form-control"
      />
    </fieldset>
    <input type="submit" value="Food Info" class="btn btn-success" />
  </form>
</div>
{% endblock %}
